:root {
  --color-black: #1f1f1f;
  --color-white: #d9d9d9;

  --font-primary: Helvetica, sans-serif;
}

@font-face {
  font-family: Helvetica;
  src: url(../assets/fonts/HelveticaNeue-Thin.otf);
  font-weight: 100;
}
@font-face {
  font-family: Helvetica;
  src: url(../assets/fonts/HelveticaNeue-Roman.otf);
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 20px;
  line-height: 30px;
  font-family: var(--font-primary);
}

#main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
h1#date {
  font-size: 86px;
  font-weight: 200;
  text-transform: uppercase;
  margin-left: 30px;
  font-weight: 100;
}

#banner {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 32px 0;
  height: auto;
  margin-top: 44px;
  margin-bottom: 32px;
  overflow-x: hidden;
}
#banner > h2 {
  font-size: 86px;
  line-height: -4px;
  margin: 0px;
  margin: 0 24px;
  text-align: center;
  font-weight: 100;
}

.container {
  max-width: 700px;
  margin: auto;
}
.form-group {
  margin: 30px 0;
}
.form-group label {
  margin-bottom: 8px;
  display: block;
}
.form-group.row {
  display: flex;
  align-items: center;
}
.form-group.row label {
  margin-bottom: 0px;
}

input,
select {
  background-color: var(--color-black);
  height: 44px;
  outline: none;
  color: var(--color-white);
  border-radius: 0;
  padding: 0 1em;
  width: 100%;
  border: 1px solid var(--color-white);
}
input[type="checkbox"] {
  width: auto;
}
select {
  cursor: pointer;
}
label.checkbox {
  cursor: pointer;
}

button {
  border-radius: 0px;
  outline: none;
  border: none;
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 1.75em 8em;
  font-size: 18px;
  line-height: 0px;
  cursor: pointer;
}

[data-visible="true"] {
  visibility: visible;
  height: auto;
}
[data-visible="false"] {
  visibility: hidden;
  height: 0px;
}

footer {
  padding: 24px 0;
  font-size: 16px;
}
